<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>user</key>
		<string>Lincoln Jackson</string>
		<key>crawlSpecs</key>
		<array>
			<dict>
				<key>seed</key>
				<string>KAYAK.com Product Development/+++ products +++/KAYAK.com/cars</string>
				<key>projectMatchers</key>
				<array>
					<string>Car Results 8</string>
				</array>
				<key>itemMatchers</key>
				<array>
					<string>.*mocks/.*\.png</string>
					<string>.*mocks/.*\.gif</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
