<!DOCTYPE html>
<!--<html lang="en" ng-app="myApp">-->
<html lang="en" ng-app="mocks">
<head>
    <title>DESIGN @ KAYAK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  -->
  <script src="js/moment.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="lib/angular/angular-route.js"></script>

  <script src="js/services.js"></script>
  <script src="js/app.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>

</head>

<body ng-controller="mocksController">


<div class="maincontainer">
  <div class="leftnav">

    <h1>DESIGN @ KAYAK</h1>
    <ul>
      <li ng-class="{selected:selectedUser == null}" ng-click="swapUser(user.name)">

        <span class="glyphicon glyphicon-star"></span>
        Latest updates

      </li>


      <li ng-repeat="user in results"  ng-class="{selected:(user.name == selectedUser.name)}" ng-click="swapUser(user.name)">

        <img class="img-circle" ng-src="img/avatars/{{user.name}}.png"/>
        {{user.name}}

      </li>

    </ul>
  </div>

  <div class="maincontent">
    <div ng-view></div>
  </div>
</div>
</body>
</html>
 